/*This is a comment in CSS*/
body {
	font-family: Helvetica;
	background-color: #e56333;
}

h1 { /* Main header style */
	text-align: center;
	font-family: Impact;
	background: white;
}

h2 {
	text-align: center;
	background: #6cc0e5;
}

.TOC {
	position: relative;
	float: left;
	width: 24%;
	background: white;
}

.topics {
	position: relative;
	float: right;
	width: 75%;
	background: white;
	margin-bottom: 1%;
}

.concept {
	text-align: left;
}

.concept-title {
	background: #6cc0e5;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
}

.concept-description {
	margin-right: 15px;
	margin-left: 15px;
}
.italic {
	font-style: italic;
}

.nobullet { /*for removing the bullets that come with lists*/
	list-style-type: none;
}

.ugh { /* TOC header */
	background: #e56333;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 5%;
}

.topic { /* Was having a problem with lesson's 2 and 3s div, their content was pushed way right.  This is how I fixed it.  */
	margin-left: 0;
}

