body {
    color: white;
    background-color: #2ea973;
}

article {
    padding: 20px;
    background-color: #b012b0;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

